.login{
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    background-image: url("./images/3893871.jpg");
    background-size: cover;
    
    
  }
  
  .login_body{
    margin-top: 3vh;
    flex: 0.95;
    display: flex;
    flex-direction: column;
    background-image: url("./images/619.jpg");
    background-size: cover;
    width: 90vw;
    height: 90vh;
    box-shadow: -1px 4px 20px -6px ;
    overflow: scroll;
   
  }

  .chat_text{

    font-size: 40px;
    text-align: center;
    margin-top: 10vh;
    font-weight: 600;
    
    

  }

  .login_text{

    font-size: 30px;
    text-align: center;
    margin-top: 6vh;
    margin-bottom: 6vh;

  }

  .login_input{
    
    text-align: center;
    margin: auto;
    width: fit-content;
    margin: 20px;
  }

  .input_fields{
    
    text-align: center;
    flex-direction: column;
    align-items: center;
    display: flex;
    padding: 20px;
    
    
  }
.signup_text{
  color: black;
  display: inline;
  font-size: x-small;
  text-align: center;
  margin-top: 1vh;
}
.copy{
  color: black;
  display: block;
  font-size: x-small;
  text-align: center;
  margin-top: 2vh;
  
}