.login{
    display: grid;
    place-items: center;
    height: 100vh;
    background-image: url("./images/3893871.jpg");
    background-size: cover;
    
    
  }
  
  .login_body{
    display: block;
    background-image: url("./images/619.jpg");
    background-size: cover;
    width: 90vw;
    height: 90vh;
    box-shadow: -1px 4px 20px -6px ;
    position: relative;
   
  }

  .chat_text{

    font-size: 40px;
    text-align: center;
    margin-top: 10vh;
    font-weight: 600;
    
    

  }

  .login_text{

    font-size: 30px;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 6vh;

  }

  .login_input{
    
    text-align: center;
    margin: auto;
    width: fit-content;
    margin: 20px;
  }

  .input_fields{
    display: grid;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 20px;
    
    
  }
.signup_text{
  color: black;
  display: inline;
  font-size: x-small;
  text-align: center;
  margin-top: 20px;
}
