.reset{
    display: flex;
    flex-direction: column;
    place-items: center;
    height: 100vh;
    background-image: url("./images/3893871.jpg");
    background-size: cover;
    
    
  }
  
  .reset_body{
    display: flex;
    flex-direction: column;
    background-image: url("./images/619.jpg");
    background-size: cover;
    width: 90vw;
    height: 90vh;
    box-shadow: -1px 4px 20px -6px ;
    margin-top: 5vh;
    overflow: scroll;
   
  }

  .reset_chat_text{

    font-size: 40px;
    text-align: center;
    margin-top: 10vh;
    font-weight: 600;
    
    

  }

  .reset_text{

    font-size: 30px;
    text-align: center;
    margin-top: 10vh;
    margin-bottom: 6vh;

  }

  .reset_input{
    
    text-align: center;
    margin-top: 8vh;
    margin-bottom: 5vh;
    width: fit-content;
    
  }

  .reset_input_fields{
    display: flex;
    
    flex-direction: column;
    align-items: center;
    
    
    
  }
.reset_text{
  color: black;
  display: inline;
  font-size: x-small;
  text-align: center;
  margin-top: 20px;
  margin-top: 24vh;
}
.reset_text_p{
  color: black;
  display: inline;
  font-size: x-small;
  text-align: center;
  margin-top: 40vh;
}
.reset_button{
  display: flex;
  margin-top: 5vh;
}