.sign_up{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background-image: url("./images/3893871.jpg");
    background-size: cover;
  }
  
  .signup_body{
    margin-top: 5vh;
    background-image: url("./images/619.jpg");
    background-size: cover;
    width: 90vw;
    height: 90vh;
    box-shadow: -1px 4px 20px -6px ;
    overflow: scroll;
    
   
  }

  .signup_chat_text{

    font-size: 40px;
    text-align: center;
    margin-top: 10vh;
    font-weight: 600;
    
    

  }

  .signup_text{

    font-size: 30px;
    text-align: center;
    margin-top: 6vh;
    

  }

  .signup_input{
    
    text-align: center;
    margin: auto;
    width: fit-content;
    margin: 20px;
  }

  .signup_input_fields{
    display:flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 6vh;
    
    
  }
.signup_text{
  color: black;
  display: inline;
  font-size: x-small;
  text-align: center;
  
}

.bk{
    margin: 10px;
}
